{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('RBAC site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">List Modules</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
<p style="color: #888;"></p>
{% endblock %}

{% block content %}
<h1>List Modules</h1>
<form method="get" action="{% url 'reload_modules' %}">
    {% csrf_token %}
    <button type="submit">Reload Modules</button>
</form> 

<br>
<!-- List of modules in table format -->

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{{ module.version }}</td>
            <td>{{ module.description }}</td>
            <td>
                {% if module.is_active %}
                    <span class="badge bg-success">Active</span>
                {% else %}
                    <span class="badge bg-secondary">Not Active</span>
                {% endif %}
            </td>
            <td>
                {% if module.is_active %}
                    <form method="get" action="{% url 'uninstall_module' module.slug %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Uninstall</button>
                    </form>

                    <form method="get" action="{% url 'upgrade_module' module.slug %}" style="display:inline; margin-left:10px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-warning">Upgrade</button>
                    </form>

                    <a target="_blank" href="{% url module.slug|add:':index' %}" class="btn btn-sm btn-info" style="margin-left:10px;">Access {{ module.name }}</a>
                {% else %}
                    <form method="get" action="{% url 'install_module' module.slug %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-success">Install</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}